{% extends 'home.html' %}
{% block title %}Webinar{% endblock %}
{% block extra_css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/webinar_detail.css' %}">
{% endblock %}
{% block content %}
    {% if role %}
        {% if role.role == 'HOST' %}
            <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="product-layout">
                    <input type="hidden" name="buy" value="no">
                    <!-- IMAGE -->
                    <button class="add-btn" type="submit" id="addBtn">Delete</button>
                    <input type="hidden" name="delete" value="yep">
                </div>
            </form>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="buy" value="no">
                <div class="product-image">
                    <img src="{{ webinar.image.url }}" alt="product">
                </div>

                <!-- DETAILS -->
                <div class="product-details">
                    <label for="name">Name:</label>
                        <input value="{{ webinar.name }}" class="product-title" name="name"></input>
                        <label for="link">Link:</label>
                        <input value="{{ webinar.link }}" class="product-title" name="link"></input>
                        <label for="hosted_at">Hosted At:</label>
                        <input value="{{ webinar.hosted_at }}" class="product-title" type="datetime-local"
                               name="hosted_at"></input>
                        <label for="ticket_expiration">Ticket Expiration:</label>
                        <input value="{{ webinar.ticket_expiration }}" type="datetime-local" class="product-title"
                               name="ticket_expiration"></input>

                        <label for="ticket_expiration">price:</label>
                        <input value="{{ webinar.price }}" class="product-title"
                               name="price"></input>

                        <label for="visibility">Visibility:</label>
                        <select name="visibility" id="visibility">
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>

                        <div class="stock">tickets left: {{ webinar.stock }}</div>
                        <button class="add-btn" id="addBtn" type="submit">submit</button>

                    </div>



                <!-- DESCRIPTION -->
                <div class="description-section">
                    <div class="description-title">Description</div>
                    <input value='{{ webinar.description }}' class="description-content" name="description"></input>
                </div>
            </form>
        </div>
        {% elif role.role == 'PARTICIPANT' %}
            <div class="container">
                <div class="product-layout">

                <!-- IMAGE -->
                    <div class="product-image">
                        <img src="{{ webinar.image.url }}" alt="product">
                    </div>

                <!-- DETAILS -->
                    <div class="product-details">
                        <div class="product-title">{{ webinar.name }}</div>
                        <h1 class="info-label">LINK</h1>
                        <div class="product-title">{{ webinar.link }}</div>
                        <h1 class="info-label">HOSTED AT</h1>
                        <div class="product-title">{{ webinar.hosted_at }}</div>
                        <h1 class="info-label">TICKET EXPIRATION</h1>
                        <div class="product-title">{{ webinar.ticket_expiration }}</div>

                        <div class="product-price">${{ webinar.price }}</div>

                        <div class="stock">tickets left: {{ webinar.stock }}</div>

                    </div>

                </div>



            <!-- DESCRIPTION -->
            <div class="description-section">
                <div class="description-title">Description</div>
                <div class="description-content">
                    {{ webinar.description }}
                </div>
            </div>

        </div>
            {% endif %}
    {% else %}
        <div class="container">
            <div class="product-layout">

                <!-- IMAGE -->
                <div class="product-image">
                    <img src="{{ webinar.image.url }}" alt="product">
                </div>

                <!-- DETAILS -->
                                    <form action="" method="POST">
                        {% csrf_token %}
                                        <input type="hidden" name="buy" value="yes">
                <div class="product-details">

                    <div class="product-title">{{ webinar.name }}</div>
{#                    <div class="product-title">{{ webinar.link }}</div>#}
                    <h1 class="info-label">HOSTED AT</h1>
                    <div class="product-title">{{ webinar.hosted_at }}</div>
                    <h1 class="info-label">TICKET EXPIRATION</h1>
                    <div class="product-title">{{ webinar.ticket_expiration }}</div>

                    <div class="product-price">${{ webinar.price }}</div>

                    <div class="stock">tickets left: {{ webinar.stock }}</div>
                    {% if webinar.stock > 0 %}
                        {% if logged %}
                        <button class="add-btn" id="addBtn" type="submit">buy ticket</button>
                        {% else %}
                        <button class="add-btn" id="addBtn" disabled>login first</button>
                        {% endif %}
                    {% else %}
                        <button class="add-btn" id="addBtn" disabled>out of tickets</button>
                    {% endif %}

                </div>
                </form>
            </div>

            <!-- DESCRIPTION -->
            <div class="description-section">
                <div class="description-title">Description</div>
                <div class="description-content">
                    {{ webinar.description }}
                </div>
            </div>

        </div>
    {% endif %}


{% endblock %}