{% extends 'home.html' %}
{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/webinar.css' %}">
{% endblock %}
{% block content %}


<section class="section">
<h2>Special Webinars</h2>
<div class="grid">
{% for webinar in special_webinars %}
<a class="card-link" href="{% url 'webinar_detail' webinar.id %}">
<div class="card">
<img src="{{webinar.image.url}}">
<h3>{{webinar.name}} <span class="special-badge">SPECIAL</span></h3>
<div class="price">${{webinar.price}}</div>
<div class="seats">Seats left: {{webinar.stock}}</div>

</div>
</a>
{% endfor %}
</div>
</section>

<section class="section">
<h2>Featured</h2>
<div class="slider-wrapper">
<button class="slider-btn prev" id="prev">❮</button>
<div class="slider" id="sliderContainer">
{% for webinar in slider_webinars %}
<a class="slide-link" href="{% url 'webinar_detail' webinar.id %}">
<div class="slide-card">
<img src="{{webinar.image.url}}">
<h3>{{webinar.name}}</h3>
<div class="price">${{webinar.price}}</div>
<div class="seats">Seats left: {{webinar.stock}}</div>
</div>
</a>
{% endfor %}
</div>
<button class="slider-btn next" id="next">❯</button>
</div>
</section>

<section class="section">
<h2>All Webinars</h2>
<div class="grid">
{% for webinar in webinars %}
<a class="card-link" href="{% url 'webinar_detail' webinar.id %}">
<div class="card">
<img src="{{webinar.image.url}}">
<h3>{{webinar.name}}</h3>
<div class="price">${{webinar.price}}</div>
<div class="seats">Seats left: {{webinar.stock}}</div>

</div>
</a>
{% endfor %}
</div>
</section>
{% endblock %}
{% block extra_js %}
<script>
const slider=document.getElementById("sliderContainer")
const next=document.getElementById("next")
const prev=document.getElementById("prev")

if(next && prev && slider){
next.onclick=()=>{slider.scrollBy({left:280,behavior:"smooth"})}
prev.onclick=()=>{slider.scrollBy({left:-280,behavior:"smooth"})}

setInterval(()=>{
slider.scrollBy({left:280,behavior:"smooth"})
if(slider.scrollLeft + slider.clientWidth >= slider.scrollWidth){
slider.scrollTo({left:0,behavior:"smooth"})
}
},4000)
}
</script>
{% endblock %}
